*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*-------------------start of toggle section-------------*/
.toggle, .toggler{
    display: inline-block;
    vertical-align: middle;
   
}
.toggler{
    color: #ddd;
    transition: .2s;
    font-weight: bold;
}
.toggler--is-active{
    color: #9D1726;
}
.b {
    display: block;
}
.toggle {
    position: relative;
    width: 80px;
    height: 35px;
    border-radius: 100px;
    background-color: #9D1726;
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}
.check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
}
.check:checked ~ .switch{
    right: 2px;
    left: 57.5%;
    transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-property: left, right;
    transition-delay: .08s, 0s;
}
.switch {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 60%;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition:  0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-property: left, right;
    transition-delay: 0s, .08s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
/*-------------------end of toggle section-------------*/
/*-----------------start of pricing section-----------*/
.pricing-section {
    padding: 110px 0 150px 0;
    float: left;
    width: 100%;
    text-align: center;
}
.pricing-columns .wrapper-full {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}
.pricing-columns #pricing-chart,
.pricing-columns-both #pricing-chart{
    margin-top: 100px;
    float: left;
    position: relative;
}
.pricing-columns #pricing-chart
#smaller-plans, .pricing-columns-both
#pricing-chart #smaller-plans {
    display: block;
}
.pricing-columns #pricing-chart
.plan, .pricing-columns-both
#pricing-chart .plan {
    float: left;
    background-color: #fafafa;
    position: relative;
    color: #454545;
    padding: 14px;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    width: 207px;
}
.pricing-columns #pricing-chart
.plan:first-child, .pricing-columns-both
#pricing-chart .plan:first-child {
    border-left: 1px solid #e1e1e1;
}
.pricing-columns #pricing-chart .plan:before,
.pricing-columns-both #pricing-chart
.plan:before {
    content: "";
    position: absolute;
    height: 5px;
    left: -1px;
    top: 0;
    background-color: #233e48;
    width:207px;
}
.pricing-columns #pricing-chart .plan
.price, .pricing-columns-both
#pricing-chart .plan .price {
    font-size: 26px;
    float: left;
    width: 100%;
    margin-bottom: 35px;
    margin-top: 17px;
}
.pricing-columns #pricing-chart .plan .price .dollar
.pricing-columns-both #pricing-chart .plan .price
.dollar {
    top: -10px;
    letter-spacing: -1px;
    left: 3px;
}
.pricing-columns #pricing-chart .plan .price .amount
.pricing-columns-both #pricing-chart .plan .price 
.amount {
    font-size: 30px;
    font-weight: 600;
}
.pricing-columns #pricing-chart .plan .price 
.slash, .pricing-columns-both #pricing-chart .plan
 .price .slash {
    font-weight: 600;
    left: -2px;
 }

 .pricing-columns #pricing-chart .plan .price
 .month, .pricing-columns-both #pricing-chart
 .plan .price .month {
     font-weight: 600;
     left: -7px;
 }
 .pricing-columns #pricing-chart .plan ul,
 .pricing-columns-both #pricing-chart .plan ul {
     padding: 0 18px;
     margin-bottom: 40px;
 }
.pricing-columns #pricing-chart .plan ul li,
.pricing-columns-both #pricing-chart .plan ul li {
    font-weight: 600;
    font-size: 15px;
    text-align: left;
    margin-bottom: 20px;
}

/*----to be continued from line 160 in code pen---*/
/*----October 26th----*/
.pricing-columns #pricing-chart .plan ul li span,
.pricing-columns-both #pricing-chart .plan ul li
span {
    color: #9e9e9e;
    display: inline-block;
    margin-left: 7px;
    font-weight: 400;
    font-size: 14px;
}
.pricing-columns #pricing-chart .plan a.sign-up,
.pricing-columns-both #pricing-chart .plan a.sign-up {
    width: 100%;
    padding: 13px;
    background-color: white;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius:3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    color: #9e9e9e;
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    clear: left;
    letter-spacing: 1.5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.pricing-section .sign-up {
    padding: 17px 50px;
    text-transform: uppercase;
    background-color: #93cc76;
    color: white;
    letter-spacing: 0.1rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    white-space: pre;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
}
.pricing-columns #pricing-chart .popular, .pricing-columns-both 
#pricing-chart .popular {
    width: 274px;
    position: relative;
    top: -30px;
    background-color: white;
    margin-left: -2px;
    right: 0;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;

}
.pricing-columns #pricing-chart .popular:before, 
.pricing-columns-both #pricing-chart .popular:before {
    width: 274px;
    background-color: #9d1726;
    border: none;
    color: #ffffff;
}
.pricing-columns #pricing-chart .popular .price .amount,
.pricing-columns-both #pricing-chart .popular .price .amount {
    font-size: 60px;
}
.bandwidth {
    display: block;
    color: #9e9e9e;
    font-size: 16px;
    position: absolute;
    margin-left: 790px;
    bottom: -90px;
}
.pricing-columns #pricing-chart .popular p.pop-plan, 
.pricing-columns-both #pricing-chart .popular p.pop-plan {
    color: #454545;
    font-size: 16px;
    margin-bottom: 45px;
}
.pricing-columns #pricing-chart .popular .price,
.pricing-columns-both #pricing-chart .popular .price {
    margin-bottom: 0px;
}
.pricing-columns #pricing-chart .plan a.sign-up:hover,
.pricing-columns-both #pricing-chart .plan a.sign-up:hover{
    border: 0;
    color: #fff;
    opacity: 0.8;
}
.hide{
    display: none;
}