*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: inside;
}
.toggle, .toggler{
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}
.toggler{
    color: #ddd;
    transition: .2s;
    font-weight: bold;
}
.toggler--is-active{
    color: #9D1726;
}
.b {
    display: block;
}
.toggle {
    position: relative;
    width: 80px;
    height: 35px;
    border-radius: 100px;
    background-color: #9D1726;
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}
.check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
}


